.container{
    width: 100%;
    max-width: 75.8rem; 
    margin: 0 auto;
    padding:  0 1.5rem;
    .filters{
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__item{
            display: flex;
            align-items: center;
            gap: 5px;
            p{
                font-size: 1.6rem;
                color: #000; 
                line-height: 0.16rem;
            }
        }
    }
}