.container{
    width: 100%;
    max-width: 75.8rem; 
    margin: 0 auto;
    padding:  0 1.5rem;
    .filters{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}